.swiperSwiper{
    width: 300px * 0.8;
    height: 474px * 0.8;
    box-sizing: border-box;

    *{
        box-sizing: border-box;
    }

    .swiper-box{
        width: 100%;
        height: 100%;
        position: relative;
        
        .swiper-alone{
            width: 100%;
            position: absolute;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;

            img{
                width: 100%;
            }
        }
    }
}
